.content-main{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
}
.barrapesquisa{
    height: 30px;
    border: 1px solid #bebebe;
    width: 200px;
    border-radius: 5px;
    font-size: 1.4rem;
}
.barrapesquisa:focus-visible{
    outline: 1px solid rgba(250, 0, 229, 0.57);
}
.pesquisa{
    padding: 50px;
    background-color: rgb(248, 164, 220);
}

@media screen and (max-width:1115px){
    .content_main{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:600px){
    .content_main{
        grid-template-columns: repeat(1,1fr);
    }
}